@font-face {
  font-family: 'Droid Sans Mono';
  src: local('Droid Sans Mono'), url(./fonts/DroidSansMono-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}